@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #211f2d;
  font-family: "Montserrat", sans-serif;
  width: 320px;
  padding-left: 11px;
  padding-right: 11px;
}
.header__name {
  margin: 0 auto;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  display: block;
  text-align: center;
  margin-top: 34px;
  margin-left: -18px;
  margin-bottom: 94px;
}
.person {
  margin: 0 auto;
  color: white;
  display: flex;
  gap: 9px;
  margin-bottom: 50px;
}
.person__name {
  font-weight: 400;
  font-size: 16px;
  text-align: right;
}
.person__ratings {
  text-align: end;
  margin: 0 auto;
  font-size: 11px;
  color: #faff1a;
}
.person__avatar {
  width: 32px;
  height: 32px;
  overflow: hidden;
  position: relative;
  border: solid #413e55;
  border-radius: 50%;
  margin-top: -5px;
}
.avatar__img {
  width: 32px;
  height: 32px;
  position: absolute;
  object-fit: cover;
}
.person__balance {
  display: flex;
  align-items: center;
  margin-top: -2px;
  margin-left: -2px;
  color: #fff;
}
.balance__button {
  background-color: #00bb40;
  background-repeat: no-repeat;
  border: none;
  border-radius: 16px;
  margin: 0 auto;
  height: 26px;
  position: absolute;
  transition: 0.2s;
}
.balance__show {
  background-image: url(/images/unvisible.svg);
  background-size: 13px;
  background-position: center;
  width: 32px;
}
.balance__close {
  background-image: url(/images/visible.svg);
  background-size: 23px;
  background-position: 3px;
  width: 120px;
  font-weight: 600;
  font-size: 12px;
  color: white;
  padding-left: 23px;
}
.balance__amount {
  background-color: #373352;
  padding: 6px 8px 6px 41px;
  border-radius: 24px;
  font-weight: 400;
  font-size: 12px;
}
.table__card {
  display: flex;
  width: 304px;
  height: 78px;
  border-radius: 4px;
  background-color: #373352;
  position: relative;
  margin-left: -3px;
  flex-direction: column;
  margin-bottom: 3px;
  transition: 0.2s;
}

.closed__button {
  margin-top: 45px;
}

.person__balance:hover {
  .balance__show {
    background-color: #43ce72;
  }
}
.person__balance:active {
  .balance__show {
    background-color: #0e8938;
  }
}
.table__join:hover {
  background-color: #43ce72;
}
.table__join:active {
  background-color: #0e8938;
}
.table__card:hover {
  background-color: #423d62;
}
.table__card:active {
  background-color: #2f2b47;
}

.balance__close:hover {
  background-color: #43ce72;
}
.balance__close:active {
  background-color: #0e8938;
}
